<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851278275557-56irg4hgruflgo1ji7d80q8n9trdv2c1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851278275557-56irg4hgruflgo1ji7d80q8n9trdv2c1</string>
	<key>API_KEY</key>
	<string>AIzaSyBA9vYamprYg9m6kLRquKJZQDFBQMna7jY</string>
	<key>GCM_SENDER_ID</key>
	<string>851278275557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roodac.Slide</string>
	<key>PROJECT_ID</key>
	<string>slide-1559744412771</string>
	<key>STORAGE_BUCKET</key>
	<string>slide-1559744412771.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851278275557:ios:bd294908752d0e9a</string>
	<key>DATABASE_URL</key>
	<string>https://slide-1559744412771.firebaseio.com</string>
</dict>
</plist>